# This .gitignore is appropriate for repositories deployed to GitHub Pages and using
# a Gemfile as specified at https://github.com/github/pages-gem#conventional
*.json
*.tar

# uv python project
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
